.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    position: sticky;
    top: 0;
    z-index: 100;
    transition: all 0.3s ease;
  }
  
  /* Initial state - transparent navbar */
  .navbar {
    background: transparent;
  }
  
  /* Scrolled state - glassmorphic effect appears */
  .navbar.scrolled {
    background: rgba(255, 255, 255, 0.195);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    // border-bottom: 1px solid rgba(46, 107, 255, 0.2);
  }
  
  .logo {
    font-size: 20px;
    font-weight: 700;
    color: #c6cbcc;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid rgba(4, 10, 3, 0.2);
    letter-spacing: -1px;
    text-transform: uppercase;
  }
  
  .nav-links {
    display: flex;
    gap: 6px;
    height: 55px;
    background: rgba(5, 11, 22, 0.801);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 34px;
    padding: 8px 16px;
    border: 1px solid rgba(46, 107, 255, 0.2);
    align-items: center;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #a9c2ff;
    font-weight: 500;
    font-size: 15px;
    position: relative;
    padding: 6px 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .nav-links a .nav-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
  }
  
  .nav-links a:hover, 
  .nav-links a.active {
    color: #fff;
    background: rgba(46, 107, 255, 0.3);
  }
  
  .nav-links a.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: #81a8ff;
  }
  
  .profile-icon {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    background-color: rgba(18, 36, 71, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #81a8ff;
    cursor: pointer;
    border: 1px solid rgba(46, 107, 255, 0.2);
  }
  
  .profile-icon:hover {
    background-color: rgba(46, 107, 255, 0.3);
  }